$red:#F85359;
$blue:#0A2233;
$divider:#13334A;
$light:#FFF5F5;
$light-p:#ffebe2;
$light-pink:#FEE4E5;
$pink:#FFD9D5;
$linkedin-social: #0E72A3;
$instagram-social: #D62977;
$twitter-social: #00C6F7;
$facebook-social: #0069F7;
$gray: #e8e8ef;
$light-gray: #f8f8f9;
